{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}Forgot password{% endblock %}

{% block breadcrumb1 %}
<a class="nav-link dropdown-toggle" href="/tecleader_pult.html" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  {{ name }}
</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
  <a class="dropdown-item" href="{% url 'password_ch' %}">Jelszó változtatás</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="{% url 'home' %}">Kilépés</a>
</div>
{% endblock %}
{% block breadcrumb %}
  
  <li class="breadcrumb-item active">Elfelejtett jelszó {{ name }}: </li>
  
  
  
{% endblock %}

{% block content %}



 <form method="post"  novalidate>
  {% csrf_token %}
  {% if request.COOKIES.tipus %}
    <div class="form-group">    
      <label for="id_user">Felhasználónév :</label>       
      <input type="text" name="user" maxlength="30" class="form-control is-invalid" required="" id="id_user">         
      <div class="invalid-feedback">
        Ennek a mezőnek a megadása kötelező.
      </div>    
    </div>
    <div class="form-group">    
      <label for="id_email">Email cím: :</label>      
      <input type="email" name="email" maxlength="254" class="form-control is-invalid" required="" id="id_email">       
      <div class="invalid-feedback">
        Ennek a mezőnek a megadása kötelező.
      </div>
    </div>
  {% else %}
  
    <div class="form-group">    
      <label for="id_usergroup_0">Milyen minőségben van regisztrálva a rendszerben? Válasszon!</label> 
      <table id="id_usergroup" class=" is-invalid">
        <tr>
          <td>
            <label for="id_usergroup_0">gépkezelő:</label>
          </td>
          <td>
            <input type="radio" name="usergroup" value="Driver" class="form-control is-invalid" required="" id="id_usergroup_0">
          </td>       
        </tr>
        <tr>
          <td>
            <label for="id_usergroup_1">diagnosztika felelős:</label>
          </td>
          <td>
            <input type="radio" name="usergroup" value="DiagResp" class="form-control is-invalid" required="" id="id_usergroup_1">
          </td>       
        </tr>
        <tr>
          <td>
            <label for="id_usergroup_2">műszaki vezető:</label>
          </td>
          <td>
            <input type="radio" name="usergroup" value="TechLeader" class="form-control is-invalid" required="" id="id_usergroup_2">
          </td>       
        </tr>
        <tr>
          <td>
            <label for="id_usergroup_3">supervisor:</label>
          </td>
          <td>
            <input type="radio" name="usergroup" value="Supervisor" class="form-control is-invalid" required="" id="id_usergroup_3">
          </td>       
        </tr>
      </table>     
        <!--<ul id="id_usergroup" class="form-control is-invalid">
          <li><label for="id_usergroup_0">gépkezelő</label>
              <input type="radio" name="usergroup" value="gépkezelő" class="form-control is-invalid" required="" id="id_usergroup_0">
          </li>
          <li><label for="id_usergroup_1">diagnosztika felelős</label>
              <input type="radio" name="usergroup" value="diagfelelos" class="form-control is-invalid" required="" id="id_usergroup_1">
          </li>
          <li><label for="id_usergroup_2">műszaki vezető</label>
            <input type="radio" name="usergroup" value="műszaki vezeető" class="form-control is-invalid" required="" id="id_usergroup_2">
          </li>
          
        </ul>-->
          
          
      <div class="invalid-feedback">
        Ennek a mezőnek a megadása kötelező.
      </div>
    </div>
    
    <div class="form-group">    
      <label for="id_user">Felhasználónév :</label>       
      <input type="text" name="user" maxlength="30" class="form-control is-invalid" required="" id="id_user">         
      <div class="invalid-feedback">
        Ennek a mezőnek a megadása kötelező.
      </div>    
    </div>
    <div class="form-group">    
      <label for="id_email">Email cím: :</label>      
      <input type="email" name="email" maxlength="254" class="form-control is-invalid" required="" id="id_email">       
      <div class="invalid-feedback">
        Ennek a mezőnek a megadása kötelező.
      </div>
    </div>

  {% endif %}
 <button type="submit" class="btn btn-success">Jelszó helyreállítás</button>
</form>  
{% endblock %}
{% block content1 %}
<div id="mess">

<br>
{% if message %}
  <h5 style="color:cornflowerblue">{{ message }}</h5>
  
{% else %}
  <h5 style="color:crimson">
  Azt az email címet adja meg amellyel az OilControl rendszerébe regisztrált. Erre az email címre elküldünk egy ideiglenes jelszót, amivel be tud 
  jelentkezni, azonban kérjük, hogy az első bejelentkezés után változtassa meg ideiglenes jelszavat</h5> 
{% endif %}
  <br>
{% if flag %}
  <a href="{% url 'home' %}"> <button type="button" class="btn btn-primary">Bejelntkezés</button></a>
{% endif %}
  
  <br><br>   

</div>
{% endblock %}
