{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}Password change{% endblock %}

{% block breadcrumb1 %}
<a class="nav-link dropdown-toggle" href="/tecleader_pult.html" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  {{ name }}
</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
  <a class="dropdown-item" href="{% url 'password_ch' %}">Jelszó változtatás</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="{% url 'home' %}">Kilépés</a>
</div>
{% endblock %}
{% block breadcrumb %}
  
  <li class="breadcrumb-item active">Jelszócsere {{ name }}: </li>
  
  
  
{% endblock %}

{% block content %}

 <form method="post"  novalidate>
  {% csrf_token %}  
  {% include 'includes/form.html' %}  
 <button type="submit" class="btn btn-success">Jelszócsere</button>
</form> 
<div id="password"></div>  
{% endblock %}
{% block content1 %}
<div id="mess">

<br>
{% if not message %}

<h5 style="color:crimson">Sikeres jelszóváltoztatás esetén átirányítjuk a bejelentkezési oldalra. Kérjük jelentkezzen be az új jelszavával!</h5> <br>
{% endif %}
<h5 style="color:crimson">{{ message }}</h5> <br>   
<a href="{% url 'home' %}"> <button type="button" class="btn btn-primary">Bejelntkezés</button></a><br> <br> 
</div>
{% endblock %}

